html {
  height: 100%;
  width: 100%;
}

body{
  background-color: white;
  margin: 0px;
  padding: 0px;
}

#navbar{
  background-color: red;
  text-align: center;
  color: white;
  padding-top: 2vh;
  font-size: 1em;
  padding-bottom: 2vh;
}

img{
  width: 30vh;
  margin-left: 3vh;
}